@model ClientManagement.UI.MVC.Models.IndexViewModel
@{
    ViewBag.Title = "User Settings";
}

<h2>@ViewBag.Title</h2>
<hr/>
@if (ViewBag.StatusMessage == "Your password has been changed.")
{
    @:<p class="alert alert-success">@ViewBag.StatusMessage</p>
}

<div class="row">
    <div class="col-sm-12">
        @Html.ActionLink("Update your profile", "UpdateUser")
        <br />
        @if (Model.HasPassword)
            {
            @Html.ActionLink("Change your password", "ChangePassword")
        }
        else
        {
            @Html.ActionLink("Create", "SetPassword")
        }
    </div>
</div>