@model ClientManagement.UI.MVC.Models.CompleteJobViewModel
@{
    ViewBag.Title = "Complete Job";
}

<h2>@ViewBag.Title</h2>
<hr />
@using (Html.BeginForm("CompleteJob", "Jobs", FormMethod.Post))
{
    <div class="row">
        <div class="col-sm-3">
            <p>Billed Hours:<br />
                @Html.TextBoxFor(m => m.Hours, Model.Hours, new { @class = "form-control" })</p>

                @Model.JobId <br/>

               <p> @Html.TextBoxFor(m => m.JobId, Model.JobId, new { @class = "form-control" })</p>

            <p><strong>Expense:</strong></p>
            <p>Expense Name:<br />
                @Html.TextBoxFor(m => m.Expenses[0].ExpenseName, Model.Expenses[0].ExpenseName, new { @class = "form-control" })</p>
            <p>Expense Cost:<br />
                @Html.TextBoxFor(m => m.Expenses[0].ExpenseCost, Model.Expenses[0].ExpenseCost, new { @class = "form-control" })</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-default">Submit</button>
         </div>
    </div>
}


