@model ClientManagement.UI.MVC.Models.JobViewModel
@{
    ViewBag.Title = "Job Details";
}

<h2>Job Details</h2>

<div class="row">
    <div class="col-sm-6">
        @if (Model.Completed == "Incomplete")
        {
            <hr />
            <h4 style="margin-top:0px;">@Model.ServiceType Service for @Model.ClientName</h4>
            <hr />

             <p>
                <strong>Start Date:</strong>
                @Model.StartDate<br />
                <br />
            
                <strong>Duration:</strong>
                @Model.Duration Days<br />
                <br />
            
                <strong>Status:</strong> 
                @Model.Completed<br />
                <br />
            
                <strong>Notes:</strong><br/>
                @Model.Notes<br />
             </p>
             <br/>
        }

        else
        {
            <div class="small-gap"></div>
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-heading h3">Invoice</div>
                    <div class="panel-body">
                        <p class="text-center">
                            <strong>@Model.JobInvoice.BusinessName</strong><br />
                            <strong>@Model.JobInvoice.BusinessPhoneNumber</strong><br />
                        <p>
                        <br/>

                        <p class="text-center">
                            <strong>Client Serviced:</strong><br />
                            @Model.JobInvoice.ClientName<br />
                            @Model.JobInvoice.ClientStreet<br />
                            @Model.JobInvoice.ClientCity, @Model.JobInvoice.ClientState @Model.JobInvoice.ZipCode<br />
                            <br />
                            
                            <strong>Service Provided: </strong>
                            @Model.JobInvoice.ServiceType<br />
                            <br />

                            <strong>Notes:</strong><br />
                            @Model.JobInvoice.Notes<br />
                            <br />

                            <strong>Start Date: </strong>
                            @Model.JobInvoice.StartDate<br />
                            <br />

                            <strong>End Date: </strong>
                            @Model.JobInvoice.EndDate<br />
                            <br />

                            <strong>Billed Hours: </strong>
                            @Model.JobInvoice.BilledHours<br />
                            <strong>Hourly Rate: </strong>
                            $@Model.JobInvoice.HourlyRate<br />
                            <br />

                            <strong>Labor Cost: </strong>
                            $@Model.JobInvoice.subTotal.ToString()<br />
                            <br />

                            <strong>Expenses:</strong><br/>
                            @for (int i = 0; i < Model.JobInvoice.expenses.Count(); i++)
                            {
                                @: @Model.JobInvoice.expenses[i].Name: $@Model.JobInvoice.expenses[i].Cost 
                                @:<br/>
                            }
                            <br/>
                            
                            <strong>Expenses Subtotal: </strong>
                            @Model.JobInvoice.totalExpensesString<br />
                            <br />

                            <strong>Total: </strong>
                            $@Model.JobInvoice.Total<br />
                            <br />
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="col-sm-3">
    </div>

    <div class="col-sm-3">
        @if (Model.Completed == "Incomplete")
        {
                <div class="container">
                    <div class="panel panel-default">
                        <div class="panel-heading h3">Options</div>
                        <div class="panel-body">
                            <h4>Manage Job</h4>
                            <hr />
                            <a class="btn btn-default" href="/client-manager/Jobs/CompleteJob?jobId=@Model.JobId">Complete Job</a><br />
                            <br />
                            <a class="btn btn-default" href="/client-manager/#">Update Job</a><br />
                            <br />
                            <a class="btn btn-default" href="/client-manager/#">Remove Job</a><br />
                            <br />
                        </div>
                    </div>
                </div>
        }

        else
        {
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-heading h3">Options</div>
                    <div class="panel-body">
                        <h4>Manage Job</h4>
                        <hr />
                        <a class="btn btn-default" href="/client-manager/#">Update Job</a><br />
                        <br />
                        <a class="btn btn-default" href="/client-manager/#">Remove Job</a><br />
                        <br />
                    </div>
                </div>
            </div>
        }
    </div>

    <br />
</div>
